* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.dropdown-container {
    position: relative;
}

.dropdown-container ul {
    position: absolute;
    max-height: 0px;
    overflow: hidden;
}

.dropdown-container:hover ul {
    max-height: 400px;
}

.title {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: black;
}

.footer-content h2,
.sotial-network i {
    text-align: center;
    color: #fff;
    font-size: 3em;
}

.footer-content h5 {
    text-align: center;
    color: #fff;
    font-size: 1em;
}

.sotial-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.enlaces a {
    outline: none;
    text-decoration: none;
}

#cards {
    justify-content: space-evenly;
}

.card {
    margin: 2em 2em 4em;
}

.card-body h5 {
    text-align: center;
}

.imagen-producto {
    max-height: 250px;
    max-width: 500px;
}

#inic h1 {
    margin-top: 10px;
}


@media screen and (max-width: 991px) {
    .card {
        margin: 1em 1em 4em;
    }
    #touch{
        position: absolute;
        right: 1em;
    }

    .container h4 {
        text-align: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 200px;
        background-color: black;
    }

    .footer-content h2,
    .sotial-network i {
        text-align: center;
        color: #fff;
        font-size: 3em;
    }

    .footer-content h5 {
        text-align: center;
        color: #fff;
        font-size: 1em;
    }

    .sotial-network {
        display: flex;
        justify-content: space-evenly;
        width: 200px;
        margin-top: 1em;
    }

    .items {
        display: flex;
        flex-direction: column;
        margin: 13%;
        margin-top: 2em;
        font-size: 5em;
    }

    .items i {
        margin: 13%;
    }

    .items2 {
        display: flex;
        flex-direction: column;
        margin: 10%;
        margin-top: 2em;
        font-size: 5em;
    }

    .items2 i {
        margin: 13%;
    }

    .navbar-collapses{
        background-color: #333;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 0;
        margin-right: 0;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: -5px;
        line-height: 40px;
        padding-bottom: 20px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        font-family: "Montserrat",sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}


/*

<div class="collapse navbar-collapse show" id="navbarMain"><ul class="navbar-nav ml-auto"><li class="nav-item"><a rel="noopener noreferrer" href="https://conectarigualdad.edu.ar/inicio" class="nav-link cool-link" style="cursor: pointer;">Inicio</a></li><li class="nav-item">
<div class="collapse navbar-collapse show" id="navbarMain">
<ul class="navbar-nav ml-auto"><li class="nav-item">
<a rel="noopener noreferrer" href="https://conectarigualdad.edu.ar/inicio" class="nav-link cool-link" style="cursor: pointer;">Inicio</a></li>
<li class="nav-item"><a rel="noopener noreferrer" href="https://conectarigualdad.edu.ar/acercade" class="nav-link cool-link" style="cursor: pointer;">Acerca de</a></li><li class="nav-item"><a rel="noopener noreferrer" href="https://conectarigualdad.edu.ar/aulasvirtuales" class="nav-link cool-link" style="cursor: pointer;">Aulas Virtuales</a></li>
<li class="nav-item"><a rel="noopener noreferrer" href="https://www.conectarigualdad.edu.ar/propuestas-pedagogicas" class="nav-link cool-link" style="cursor: pointer;">Propuestas pedagógicas</a></li>
<li class="nav-item"><a rel="noopener noreferrer" href="https://conectarigualdad.edu.ar/materiales" class="nav-link cool-link" style="cursor: pointer;">Materiales</a></li>
<li class="nav-item"><a rel="noopener noreferrer" href="https://conectarigualdad.edu.ar/formacion" class="nav-link cool-link" style="cursor: pointer;">Formación</a></li>
<a class="btn btn-dark btn-sm ml-2" href="#REA"><i class="fa fa-user"></i> INGRESAR</a></div>
</ul>


@media screen and (max-width: 991px)
.navbar-collapse {
    background-color: #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -5px;
    line-height: 40px;
    padding-bottom: 20px;

    .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
*/